@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-32rem {
        height: 32rem;
    }

    .h-36rem {
        height: 36rem;
    }

    .h-40rem {
        height: 40rem;
    }

    .h-44rem {
        height: 44rem;
    }

    .h-48rem {
        height: 48rem;
    }

    .h-40rem {
        height: 40rem;
    }

    .h-50rem {
        height: 50rem;
    }

    .h-60rem {
        height: 60rem;
    }
}